[data-form="addForm"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 100px;
    max-width: 920px;
    margin: 0 auto;
    background-color: #252729;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius:10px;
    box-shadow:2px 0 5px 2px rgba(0,0,0,0.3);
    width: 300px;
}

input[type=text]:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

input[type=text]:focus {
    outline:none;
    border: 1px solid black;
}


.add__btn {
    width: 150px;
    margin: 30px 10px;
    background-color: #e0b004;
    border-radius: 25px;
    border: none;
    color: #252729;
    font-size: 20px;
    padding: 10px;
}

.add__btn:hover {
    background-color: #000;
    color: white;
}

.add__btn:active {
    outline: none;
}